<header id="heading">
	<div class="logo">
    <i class="material-icons" >&#xe88a;</i>
		<a href="{{url_for('showAuthors')}}">
			<p class="create">Show All Authors</p>
		</a>
	</div>
	<div>
		<a href="{{url_for('gdisconnect')}}">
			<p>Log out</p>
		</a>
	</div>

</header>

<hr id="boundary">
<div class = 'flash'>
				{% with messages = get_flashed_messages() %}
		{% if messages %}

			<ul>
			{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
			{% endif %}
	{% endwith %}

</div>
