{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<h1 class="title">Add New Book</h1>
	<div class="new_box">
		<form action="#" method = "post">
			<div class="row">
				<div class="rowItem">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" maxlength="100" name="name">
				</div>
				<div class="rowItem">
					<label for="price">Price:</label>
					<input type ="text" class="form-control" maxlength="100" name="price">
				</div>
				<div class="rowItem">
					<label for="description">Description:</label>
	        <input type ="text" class="form-control" maxlength="100" name="description">
				</div>
				<div class="rowItem">
					<button type="submit" class="button" id="submit" type="submit">Create</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
